@{
    ViewBag.Title = "Kampanya Ekleme";
}

<div class="row">


    <div class="col-lg-12 animatedParent animateOnce z-index-46">
        <div class="panel panel-default animated fadeInUp go">
            <div class="panel-heading clearfix">
                <h3 class="panel-title">Etkinlik Oluştur</h3>
                <ul class="panel-tool-options">
                    <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
                    <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
                    <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
                </ul>
            </div>
            <div class="panel-body">


                <form id="validate-form" class="block-content form" action="@Url.Action("InsertEvent","Home")" method="post" enctype="multipart/form-data">





                    <label for="emailaddress">Etkinlik Adı</label>
                    <div class="form-group alignflex">

                        <input type="text" id="CouponName" name="Name" class="form-control required" placeholder="" value="" />
                        <a class="btn categorypop" href="#" data-content="Açıklama" rel="popover" data-placement="top" data-trigger="hover"><i class="fa fa-question-circle"></i></a>

                    </div>



                    <label for="emailaddress">Konum</label>
                    <div class="form-group alignflex width40">

                        <input type="text" id="Price" name="desc" class="form-control required" placeholder="" value="" />
                        <a class="btn categorypop" href="#" data-content="Açıklama" rel="popover" data-placement="top" data-trigger="hover"><i class="fa fa-question-circle"></i></a>

                    </div>

                    <div class="datecss">
                        <div class="form-group datewidth">
                            <label for="emailaddress">Başlangıç Tarihi &nbsp; &nbsp;</label>

                            <input placeholder="YYYY-AA-GG" name="StartAt" style="width:200px; height:32px; padding:5px;" id="StartAt" type="text" />

                        </div>

                        <div class="form-group datewidth" style="margin-left: 20px;">

                            <label for="emailaddress" class="widthenddate">Bitiş Tarihi &nbsp;&nbsp;</label>

                            <input placeholder="YYYY-AA-GG" name="EndAt" style="width:200px; height:32px; padding:5px;" id="FinishAt" type="text" />


                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Gönder</button>

                </form>

            </div>
        </div>
    </div>




</div>
<style>

    #FinishAt {
        background-image: url('/content/zebradatetimepicker/dist/css/bootstrap/icons.png');
        background-position: 98% -6%;
        background-repeat: no-repeat;
        cursor: pointer;
        border: 1px solid #a9a9a9;
    }
</style>

@section footerjs{
    <script src="@Url.Content(ViewBag.Path + "/ckeditor/ckeditor.js")"></script>

    <script src="@Url.Content(@ViewBag.Path + "/js/jquery.validate.min.js")" type="text/javascript"></script>

    <script type="text/javascript">



        $(document).ready(function () {




            $('#StartAt').Zebra_DatePicker({
                direction: true,
                pair: $('#FinishAt')
            });

            $('#FinishAt').Zebra_DatePicker({
                direction: 1,
                show_icon: false
            });



            /*
            * Form Validation
            */

            $('.categorypop').popover();






            //$("#validate-form").validate();

            $('#validate-form').validate({
                onfocusout: false,
                invalidHandler: function (form, validator) {
                    var errors = validator.numberOfInvalids();
                    if (errors) {
                        validator.errorList[0].element.focus();
                    }
                },
                rules: {


                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.container'));
                    }
                    else { // This is the default behavior
                        error.insertAfter(element);
                    }
                },
                messages: {



                }
            });

        });


    </script>
}
